@import "../../scss/index.scss";
.languages_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .language_title {
    font-weight: bold;
    font-size: 15px;
  }
  .language {
    color: $main_color;
    padding: 5px;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px 0px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;
    &.active {
      background: #fdecec;
      transition: 0.3s ease all;
    }
  }
}
