.languages_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 15px;
  .language_title {
    font-weight: bold;
    font-size: 15px;
  }
  .language {
    padding: 5px;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px 0px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;
    &.active {
      background: #e1e1e1;
      transition: 0.3s ease all;
    }
    &:hover {
      background: #f1efef;

    }
  }
}
