.ui.form {
  .resultbox {
    background-color: #f1efef !important;
    color: black;
    font-size: 15px;
    &::placeholder {
      color: #8f8f8f;
      font-size: 20px;
    }
  }
}

textarea {
  width: 48%;
  height: 120px;

  border: 1px solid #e1e1e1;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}
