@import "../../scss/index.scss";
.result_box_container {
  width: 48%;
  position: relative;
  .result_box {
    width: 100%;
    height: 200px;
    background: $main_color;
    border: 1px solid #e1e1e1;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 13px 0px #e1e1e1;
    .text_area_box_result {
      width: 92%;
      border: 0;
      height: 100%;
      padding-right: 8px;
      font-size: 20px;
      color: $text_color;
      resize: none;
      background: none;
      &::placeholder {
        color: rgb(255, 255, 255);
        opacity: 0.9;
      }
    }
  }
  .copy_text_area {
    position: absolute;
    width: 30px;
    height: auto;
    right: 10px;
    top: 9px;
    color: $text_color;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease all;
    border-radius: 50%;
    &:hover {
      background-color: #ffffff57;
      border-radius: 50%;
      transition: 0.3s ease all;
    }
    &.icon_micro{
      top: 40px;
    }
  }
}
