@import "../../scss/index.scss";
.nav_content{
    width: 100%;
    background-color: $main_color;
    color:$text_color;
    .nav_class{
        max-width: 1200px;
        display: flex;
        margin: auto;
        height: 70px;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        .logo{
            width: 150px;
            height: auto;
        }
    }
}

@media (max-width: $medium_responsive) {
    .nav_content .nav_class{
        justify-content: center;
    }
  }